:root {
    /* colors */
    --primary-color: #58c4dc;
    --accent-color: #9CB080;
    --background: #16181d;
    --border-color: #1b1d24;
    --text-primary: #F8FAFC;
    --text-secondary: #CBD5E1;
    --text-muted: #94A3B8;;
    --hover-color: #1b1d24;

    /* typography */
    --heading-font: "Space Grotesk", sans-serif;
    --text-font: "Inter", sans-serif;
    --text-size: 1rem;
    --title-size: 2rem;
    --medium-size: 14px;
    --little-size: 12px;


    /*layout*/
    --padding: 10px;
    --space: 100px;
    --border-radius: 3px;
    --default-gap: 10px;
    --flex-gap: 20px;
    --grid-gap: 20px;
    --border: 1px solid var(--border-color);
}

body {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-optical-sizing: auto;
    background-color: var(--background);
}

h1, h2 {
    color: var(--text-primary);
}

p {
    color: var(--text-secondary);
}