.page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info {
    width: 100%;
    height: max-content;
    padding-top: 30px;

    >section { /* overwriting stylef of **Description** component */
        margin-top: 0;
        padding-bottom: 20px;

        p {
            width: 75%;
        }

        div {
            width: 75%;
        }
    }

    >h1 { 
        margin: 0;
        padding-top: 30px;
        font-family: var(--special-font);
        font-size: 3rem;
        font-weight: 400;
        font-style: normal;
    }

    .image_container {
        width: 100%;
        height: max-content;
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        gap: var(--flex-gap);

        div {
            position: relative;
            display: grid;
        }

        button {
            padding: 7px;
            display: grid;
            place-items: center;
            position: absolute;
            left: 10px;
            bottom: 10px;
            border: 0;
            color: var(--text-primary);
            border: 1px solid #1b1d249c;
            background-color: rgba(0, 0, 0, 0.699);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); 
            border-radius: 5px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                scale: 1.1;
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            border: var(--border);
        }
    }
}

.decoration {
    margin-top: 10px;
    color: var(--text-primary);
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 0.80rem;
    letter-spacing: 1px;
    height: max;

    .divider {
        height: 2px;
        width: max(250px, 70%);
        background-color: rgb(137, 74, 240);
    }

    .categories {
        display: flex;
        height: max-content;

        :nth-child(1) {
            background-color: rgb(137, 74, 240);
            clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
            padding-left: 10px;
            z-index: 1;
        }

        :nth-child(2) {
            color: rgb(137, 74, 240);
            background-color: var(--background);
            clip-path: polygon(15px 0, 100% 0, calc(100% - 15px)  100%, 0 100%);
            margin-left: -17px;
            border-right: none;
            position: relative;
            z-index: 0;

            &::after {
                content: '';
                height: 100%;
                width: 100%;
                top: 0;
                left: calc(100% - 16px);
                clip-path: polygon(14px 0, 100% 0, calc(100% - 15px)  100%, 0 100%);
                background-color: rgb(137, 74, 240);
                position: absolute;
            }
        }
    }

    p {
        width: max-content;
        height: max-content;
        margin: 0;
        padding: 2px 20px;
        border-inline: 2px solid;
        border-bottom: 2px solid;
        border-color: rgb(137, 74, 240);
    }
}

.showcase {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: var(--hover-color); */
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;

    .background_art {
        grid-area: 1/1;
        position: relative;
        height: 100%;
        /* background-color: red; */
        /* border: 1px solid white; */
    }

    .art {
        grid-area: 1/1;
        height: 90%;
        /* background-color: yellow; */
        /* border: 1px solid white; */
        z-index: 1;
    }

    .more {
        border: var(--border);
        display: flex;
        flex-direction: column;
        width: 35%;
        height: max-content;
        /* height: max(15%, 70px); copy this dimensions to scroll container */
        border-radius: 5px;
        position: fixed;
        bottom: 20px;
        right: max(6%, 20px);
        padding: 5px;
        background-color: var(--background);
        z-index: 1;

        .head {
            height: max-content;
            color: var(--text-muted);
            font-family: var(--text-font);
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            padding-bottom: 5px;
            border-bottom: var(--border);
            margin-bottom: 5px;
        }

        .buttons {
            background-color: var(--background);
            border: var(--border);
            color: var(--text-muted);
            border-radius: var(--border-radius);
            cursor: pointer;
            padding:  5px;
            display: flex;
            place-items: center;
            transition: 0.2s;

            &:hover {
                color: var(--background);
                background-color: var(--primary-color);
            }
        }

        .buttons, button {
            background-color: var(--hover-color);
        }

        p {
            flex: 1;
            margin: 0;
        }
    }
}