.page {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--default-gap);
    place-items: center;
    font-family: var(--text-font);
    text-align: center;

    h1, h2, p {
        margin: 0;
    }

    h1 {
        font-size:12rem;
        color: var(--primary-color);
    }

    &>div {
        margin-top: 20px;
        display: flex;
        gap: var(--default-gap);
    }

    button {
        background-color: var(--hover-color);
        color: var(--text-muted);
        border: var(--border);

        &:hover {
            color: var(--primary-color);
        }
    }
}