.category, .filter {
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px var(--padding);
    color: var(--text-muted);
    font-family: var(--text-font);
    font-size: 12px;
    cursor: pointer;
    height: max-content;
    transition: 0.1s;

    &:hover {
        background-color: var(--hover-color);
        color: var(--accent-color);
    }
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    p {
        margin: 0;
    }
}

.active {
    background-color: var(--hover-color);
    color: var(--accent-color);
}