.category, .filter {
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px var(--padding);
    color: var(--text-muted);
    font-family: var(--text-font);
    font-size: var(--little-size);
    cursor: pointer;
    height: max-content;
    transition: 0.2s;
    letter-spacing: 1px;
    background-color: var(--background);

    &:hover {
        background-color: var(--hover-color);
        color: var(--accent-color);
    }
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    p {
        margin: 0;
    }
}

.icon {
    display: grid;
    place-items: center;
    transition: 0.2s;
}

.icon_rotate {
    rotate: -180deg;
}

.active {
    background-color: var(--hover-color);
    color: var(--accent-color);
}