.header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: max(6%, 20px);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    gap: var(--flex-gap);
    color: var(--text-secondary);
    font-family: var(--heading-font);
    font-size: var(--text-size);
    border-bottom: var(--border);
    background-color: var(--background);

    ul {
        display: flex;
        gap: var(--flex-gap);
        list-style-type:none;
        margin: 0;
    }

    .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }

    .logo {
    color: var(--primary-color);
    }
}

li {
    transition: 0.2s;
    padding: var(--padding);
    border-radius: var(--border-radius);

    &:hover {
        color: var(--primary-color);
    } 
}

.logo, .themeToggle, li{
    cursor: pointer;
}

.themeToggle {
    padding: var(--padding);
    border-radius: var(--border-radius);
    /* background-color: var(--hover-color); */
    border: 2px solid var(--border-color);

    &:hover {
        background-color: var(--hover-color);
    }
}

