.header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: max(6%, 20px);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    gap: var(--flex-gap);
    color: var(--text-secondary);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: calc(var(--text-size) - 10%);
    border-bottom: var(--border);
    background-color: var(--background);
    letter-spacing: 1px;
    overflow: hidden;

    .nav {
        height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        margin: 0;
    }

    .logo {
        color: var(--primary-color);
    }
}

.nav_link {
    transition: 0.2s;
    height: 100%;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid var(--background);
    position: relative;
    text-decoration: none;
    font-family: var(--text-font);
    color: var(--text-secondary);

    &:hover {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    } 
}

.logo, .toggle, .nav_link{
    cursor: pointer;
}

.toggle {
    height: var(--text-size);
    width: var(--text-size);
    background-color: var(--hover-color);
    padding: 5px;
    border: var(--border);
    color: var(--accent-color);
    border-radius: 50%;

    &:hover {
        background-color: var(--hover-color);
    }
}

.divider {
    width: 2px;
    background-color: var(--hover-color);
    padding-block: var(--padding);
}

.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}